Options -Indexes

<IfModule mod_php.c>
  php_flag display_errors Off
</IfModule>

# Redirect bare directory to index
DirectoryIndex index.php

# Block access to includes
<FilesMatch "^(auth|layout)\.php$">
    Require all denied
</FilesMatch>
